
{% extends 'layout.html' %}
{% block content %}
    <!-- <div class="row">
        <div class="col-md-4">
            
        </div>
    </div> -->

    {% if movies %}
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-4" style="display: flex; justify-content: space-around;">
                <div class="card m-3" style="width: 18rem; background-color: #119cbc; border-color: #119cbc;">
                    <img style="width: auto; height: 230px; overflow: hidden;"
                    src="{{ url_for('static', filename=movie.poster_path) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: azure; height: 3.5rem;">{{ movie.title }}</h5>
                        <p class="card-text" style="color: #fff;">{{ movie.year }}</p>
                        {% if admin %}
                            <a href="{{ url_for('update_show', id=movie.id) }}" class="btn btn-success">Update</a>
                        {% elif movie.category == 'movie' %}
                            <a href="{{ url_for('movie', id=movie.id) }}" class="btn btn-danger"
                                >Watch Now</a>
                        {% else %}
                            <a href="{{ url_for('series', id=movie.id) }}" class="btn btn-danger"
                                >Watch Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock content %}