{% extends 'layout.html' %}
{% block content %}
    <span class="display-3">{{ movie.title }}</span>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet"> 
    <div class="movie-content my-4">
        <div class="h2 my-3">
            <strong>Description</strong>
        </div>
        {% if movie.description %}
            {{ movie.description }}
        {% else %}
            No description available<br>
        {% endif %}
    </div>
    <div class="movie-content my-4">
        <div class="h2 my-3">
            <strong>Episodes</strong>
        </div>
    </div>
    <div class="row">
        {% for ep in range(movie.number_of_ep) %}
        <div class="col-sm-3 my-3">
            <!-- Single card -->
            <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Episode {{ ep + 1 }}</h1>
                  <a href="{{ url_for('episode', id=movie.id, ep_no=ep+1) }}" class="btn btn-danger">Watch</a>
                </div>
            </div>
            <!-- Card end -->
        </div>
        {% endfor %}
    </div>
{% endblock content %}